.navbar a{
    color:white;
}

footer {
    height: 150px;
    background-color: palegreen;
    text-align: center;
}

.header {
    height: 50px;
    background-color: palevioletred;
    text-align: center;
}

.logo {
    height: 50px;
    width: 50px;
}

.fondo {
    background-color: silver;
}

.image {
    height: 50px;
    width: 50px;
}

.init {
    padding: 80px;
    background-color: paleturquoise;
    text-align: center;
}

li {
    text-decoration: none;
}

