.navbar a{
    color:white;
}

footer {
    height: 50px;
    background-color: palegreen;
    text-align: center;
}

.header {
    height: 50px;
    background-color: palevioletred;
    text-align: center;
}

.logo {
    height: 50px;
    width: 50px;
}
